@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    color: #612406;
}

img{
    max-width: 100%;
}

section h2{
    font-size: 2em;
    font-weight: 700;
}
.news-container{
    background-color: #fbf7e3;
    padding: 15px;
    height: 300px;
    margin-top: 10px;
    border-radius: 15px;
}

.side-img{
    background-image: url(../img/honey.jpg);
    width: 400px;
    height: 250px;
    background-size: cover;
    background-position: center;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}

.text-news{
    display: flex;
    flex-direction: column;
}

.text-news h3{
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
}

.text-news p{
    font-size: 1em;
}