:root{
    --giallo: #ffc017;
    --bianco: #ffffff;
    --verde:  #1a8917;
    --nero:  rgb(0, 0, 0);
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lora', serif;
    font-family: 'Martel Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
}

/*_____HEADER_____*/

.header{
    background-color: var(--giallo);
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 20px 55px;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: background-color 0.5s linear;
}
.bianco{
    background-color: var(--bianco);
}

.contein{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    background-size: cover;
    background-position: center;
    height: 26px;
    width: 180px;
}

.nav-container{
    display: flex;
    column-gap: 25px;
    align-items: center;
}

.link-header{
    display: flex;
    column-gap: 30px;
    font-size: 1.3em;
}

.link-header li{
    list-style-type: none;
}

.link-header li a{
    text-decoration: none;
    color: var(--nero);
}
#get-started.default-style{
    text-decoration: none;
    background-color: var(--nero);
    color: white;
    padding: 12px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    width: 110px;
    transition: background-color 0.5s linear;
}

#get-started.verde{
    background-color: var(--verde);
}

/*____HERO SECTION_____*/
.hero-container{
    background-color: var(--giallo);
    height: 60vh;
    padding: 0 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--nero);
}

h1{
    font-size: 5em;
    font-family: 'Lora', serif;
}

.paragraph-hero{
    font-size: 1.7em;
    width: 433px;
    color: #191919;
}

.btn-hero{
    border: none;
    padding: 10px;
    font-size: 1.1em;
    background-color: #191919;
    color: white;
    border-radius: 30px;
    width: 200px;
    margin-top: 20px;
}

.btn-hero:hover{
    background-color: black;
}

/*_________MAIN_________*/
.column{
    margin-top: 50px;
    margin-top: 50px;
    padding: 0 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

article{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    justify-content: flex-end;
}

.img-trending-container{
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 15px;
    font-weight: bold;
}

.img-tranding-container h2{
    margin-left: 20px;
    font-family: 'Martel Sans', sans-serif;
}

.img-trading-container img{
    height: 8vh;
}

.num-1, .num-2, .num-3, .num-4, .num-5, .num-6{
    display: inline-block;
    font-size: 3em;
    margin-right: 10px;
    opacity: 0.1;
}

.tooltip a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.tooltip img{
    border-radius: 50px;
    height: 30px;
}

.link-text{
    display: inline-block;
    margin-left: 20px;
}

.lorem-box-1{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    row-gap: 10px;
    width: 200px;
}

.lorem-box-1 a{
    font-weight: bold;
    text-decoration: none;
    color: #242424;
    font-family: 'Martel Sans', sans-serif;
}

.lorem-box-1 span{
    color: rgb(130, 130, 130);
}

/*________TOOLTIP________*/

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    padding: 5px 0;
    height: 150px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.3);
}

.tooltiptext a{
    color: #000000;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.box-follower{
    display: flex;
    justify-content: space-around;
    
}

#follow{
    background-color: rgb(54, 136, 54);
    color: white;
    padding: 10px;
    border-radius: 15px;
}

#follow:hover{
    background-color: rgb(46, 106, 46);;
}

/*_____POST_____*/

.container{
    display: flex;
    padding: 0 55px;
    margin: 50px 0;
    font-family: 'Roboto', sans-serif;
}

.post-container{
    display: flex;
    margin-bottom: 50px;
}

.img-post{
    background-image: url(../imgs/image08.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
}

.autore{
    width: 400px;
}

.link-autore{
    display: flex;
    align-items: center;
}

.link-autore a{
    text-decoration: none;
    color: #242424;
}

.link-autore img{
    border-radius: 50px;
    height: 30px;
}

.polarization{
    background-color: #efefef;
    border-radius: 10px;
    padding: 5px
}

.lorem-box-7s h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.lorem-box-7s p{
    margin-top: 15px;
    color: #6B6B6B;
}

.read{
    display: flex;
    align-items: flex-end;
    color: #6b6b6b;
}

.read a{
    text-decoration: none;
    color: #6b6b6b;
}

.icona{
    background-image: url(../imgs/svg/bookmark.svg);
}


/*_____ASIDE_____*/
.aside {
    position: sticky;
    top: 155px;
    max-height: 500px;
}

.aside h3 {
    font-weight: 700;
    color: var(--nero);
}

.aside #aside-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-bottom: 1px solid rgb(148, 148, 148);
}

.aside #aside-container a {
    padding: 10px 15px;
    color: var(--nero);
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    text-decoration: none;
}

.aside #link-topics {
    font-size: 0.9rem;
    color: var(--verde);
    text-decoration: none;
}

.aside #link-topics:hover {
    color: var(--nero);
}

.aside #footer-container {
    margin-top: 30px;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 28px;
    margin-bottom: 50px;
}

.aside #footer-container a {
    text-decoration: none;
    color: #666666;
    font-size: 0.9rem;
}