@import 'colori';
@import 'font';
@import 'spaziature';
@import 'bottoni';
@import 'animazioni';
@import 'mixins generici';

*{
    width: 100%;
    font-family: $font;
}

img{
    max-width: 100%;
    margin: 10px;
}

.header-container{
    display: flex;

    img{
        width: 15vh;
    }

    nav{
        display: flex;
        justify-content: center;
    }
    ul{
        display: flex;
        list-style: none;
    a{
        padding: 10px;
        color: map-get($color-map, bianco);
        text-decoration: none;
        background-color: #0066CC;
        font-size: nth($list: $sizes, $n: 3);
        border-radius: 10px;
    }
}
}

.btn-container{
    display: flex;
}

.btn{
    font-family: $font;
    font-size: 16px;
    color: map-get($map: $color-map, $key:bianco );
    background-color: #0066CC;
    padding: 10px 25px;
    border: none;
    box-shadow: map-get($map: $color-map, $key:nero );
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    align-items: center;
    cursor: pointer;
        &:hover{
            transition : 1000ms;
            padding: 10px 40px;
            transform : translateY(-0px);
            background-color: #0066CC;
            color: #ffffff;
            border: none;
}}
