@import 'reset';
@import 'colori';
@import 'font';
@import 'spaziature';
@import 'bottoni';
@import 'animazioni';
@import 'mixins generici';

*{
    width: 100%;
    font-family: $font;
}

img{
    max-width: 100%;
    margin: 10px;
}

.header-container{
    display: flex;

    img{
        width: 15vh;
    }

    nav{
        display: flex;
        align-items: center;
    }
    ul{
        display: flex;
        list-style: none;
    a{
        color: map-get($color-map, nero);
        text-decoration: none;
        font-size: nth($list: $sizes, $n: 4);
        display: flex;
        font-size: 20px;
        justify-content: space-evenly;
    }
}
}
