<p>header works!</p>
<!-- Importa il modulo RouterModule in app.module.ts -->
<!-- Aggiungi RouterModule.forRoot(...) nell'array degli imports -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">La Tua App</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/preferiti">Preferiti</a>
      </li>
    </ul>
  </div>
</nav>
